<div class="container">
  <h1>My Tours / Bookings</h1>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item <%= 'active' unless @just_booked %>">
      <a class="nav-link <%= 'active' unless @just_booked %>" id="home-tab" data-toggle="tab" href="#Tours" role="tab" aria-controls="home" aria-selected="true">My Tours (<%= @my_tours.count%>)</a>
    </li>
    <li class="nav-item <%= 'active' if @just_booked %>">
      <a class="nav-link <%= 'active' if @just_booked %>" id="profile-tab" data-toggle="tab" href="#Bookings" role="tab" aria-controls="profile" aria-selected="false">My Bookings (<%= @my_bookings.count%>)</a>
    </li>
  </ul>

  <div class="tab-content" id="tab-profile-content">
    <div class="tab-pane fade in <%= 'active' unless @just_booked %>" id="Tours">
      <h4><strong>My Tours:  <%= @my_tours.count%> in total </strong></h4>
      <div class="container">
        <% @my_tours.each do |tour| %>
        <% people_sum = tour.bookings.map(&:guests).sum %>
        <div class="row">
          <div class="big-card">
            <div class="big-card-image-container">

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path tour.photo, height: 150, width: 200, crop: :fill %>)">
                <!-- <h4><%= link_to tour.title, tour_path(tour) %> </h4> -->
                <h5><%= tour.location %></h5>
              </div>
              <div class="big-card-bottom-card">
                <p><i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> hours</p>
                <p><i class="fas fa-dollar-sign">&nbsp;</i><%= tour.price %></p>
              </div>

            </div>
            <div class="big-card-details">

              <div class="big-card-main-details">
                <h3><%= link_to tour.title, tour_path(tour) %></h3>
                <p><i class="fas fa-map-marker-alt">&nbsp;</i><%= tour.location.capitalize %></p>
                <p><i class="fas fa-table">&nbsp;</i><%= tour.date %></p>

                <p><i class="fas fa-users"></i> <%= pluralize people_sum, 'person' %></p>
                <p>Capacity: <%= tour.capacity %></p>
              </div>

              <div class="big-card-price">
                <h4>Your earnings:   $<%= tour.price*people_sum %></h4>
              </div>

              <div class="big-card-links">
                <p><%= link_to "Edit", edit_tour_path(tour) %></p>
                <p><%= link_to "Delete", tour_path(tour), method: :delete %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
          <%#= link_to 'Delete tour', tour_path(@tour), method: :delete #TODO: Create an alert that tells your that 'tour_name' has been deleted %>
          <%#= link_to 'Edit tour', tour_path(@tour), method: :delete #TODO: Create an alert that tells your that 'tour_name' has been deleted %>

      </div>
    </div>


    <div class="tab-pane fade in <%= 'active' if @just_booked %> " id="Bookings">
      <h4><strong>My Bookings:  <%= @my_bookings.count%> in total </strong></h4>
      <div class="container">
        <% @my_bookings.each do |booking| %>
        <% tour = booking.tour %>
        <div class="row">
          <div class="big-card">
            <div class="big-card-image-container">

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path tour.photo, height: 150, width: 200, crop: :fill %>)">
                <h5><%= tour.location %></h5>
              </div>
              <div class="big-card-bottom-card">
                <p><i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> hours</p>
                <p><i class="fas fa-dollar-sign">&nbsp;</i><%= tour.price %></p>
              </div>

            </div>
            <div class="big-card-details">

              <div class="big-card-main-details">
                <h3><%= link_to tour.title, tour_path(tour) %></h3>
                <p><i class="fas fa-map-marker-alt">&nbsp;</i><%= tour.location.capitalize %></p>
                <p><i class="fas fa-table">&nbsp;</i><%= tour.date %></p>



                <p>Update the number of guests:</p>
                  <%= simple_form_for booking do |f| %>
                  <div id="form-guest-update">
                    <%= f.error_notification %>
                    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                    <div class="form-inputs">
                      <%= f.select :guests, options_for_select(1..10) %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="big-card-bookings">

                <p><i class="fas fa-users"> </i> Booked: <strong><%= booking.guests %></strong><br> Total Cost: <strong><i class="fas fa-dollar-sign"></i><%= tour.price*booking.guests %> </strong></p>
              </div>

              <div class="big-card-links">
                <p><%= link_to "Delete", booking_path(booking), method: :delete %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
