<h2>My bookings</h2>
<% @bookings.each do |booking| %>
  <% this_booking = booking.tour %>
  <h4><%= link_to this_booking.title, tour_path(params[:tour_id]) %></h4>
  <p><%= this_booking.description %> in <%= this_booking.location %></p>
  <p>No. of guests booked: <%= booking.guests %></p>
  <h6><%= link_to "Delete booking", tour_booking_path(params[:tour_id], booking), method: :delete %></h4>
  <br>
<% end %>
