<div class="container-fluid">
  <div class="search-container">
    <h3>All tours</h3>
    <%= form_tag tours_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        id: "search-bar",
      placeholder: "Find a tour near you"
      %>
    <% end %>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">

  <div class="container-fluid margin-bottom">
    <h1 class="text-center mb-3">Types of tours</h1><br>
    <div id="tourCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <% counter = 0 %>
        <% Tour::Categories.each do |category| %>

          <div class="carousel-item col-md-3 <%= 'active' if counter == 0 %>">
            <div class="card">
              <!-- <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap"> -->
              <div class="card-body" style="background-color: #F3E0DC">
                <h4 class="card-title"><%= link_to category.upcase, tours_path(query: category) %></h4>

                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
          </div>
          <% counter += 1 %>
        <% end %>

      </div>
      <a class="carousel-control-prev" href="#tourCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only arrow">Previous</span>
      </a>
      <a class="carousel-control-next" href="#tourCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only arrow">Next</span>
      </a>
    </div>
  </div>

  <br><br><br>

  <div class="layout-container">
    <div class="container">
      <div class="row">
        <% @tours.each do |tour| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img-top img-fluid" src="<%= cl_image_path tour.photo%>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= link_to tour.title, tour_path(tour) %></h4>
              <div class="card-text">
              <p><i class="fas fa-table">&nbsp;</i><%= tour.date %>&nbsp;
              &nbsp;<i class="fas fa-clock">&nbsp;</i><%= rand(1..3) %> hours
              &nbsp;<i class="fas fa-dollar-sign">&nbsp;</i><%= tour.price %></p>
              <% desc = tour.description[0,200] +"..."%>
              <p><%= desc %></p>

              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>



    <div
      class="index-map" id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
  $("#tourCarousel").on("slide.bs.carousel", function(e) {
    var $e = $(e.relatedTarget);
    var idx = $e.index();
    var itemsPerSlide = 4;
    var totalItems = $(".carousel-item").length;

    if (idx >= totalItems - (itemsPerSlide - 1)) {
      var it = itemsPerSlide - (totalItems - idx);
      for (var i = 0; i < it; i++) {
        // append slides to end
        if (e.direction == "left") {
          $(".carousel-item")
            .eq(i)
            .appendTo(".carousel-inner");
        } else {
          $(".carousel-item")
            .eq(0)
            .appendTo($(this).find(".carousel-inner"));
        }
      }
    }
  });
});

</script>
