
<h2>All tours</h2>

<% @tours.each do |tour| %>
  <h4><%= link_to tour.title, tour_path(tour) %></h4>
  <h5><%= tour.location %></h5>
  <p><%= tour.description %> | <%= tour.price %></p>
  <p><%= tour.user_id %> | <%= tour.user %></p>
<% end %>

