
      <% @tours.each do |tour| %>
      <div class="col-md-3 active">
        <div class="card">
          <img class="card-img-top img-fluid" src="<%= cl_image_path tour.photo%>" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= link_to tour.title, tour_path(tour) %></h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    <% end %>



        <div class="layout-container">
    <div class="container">
      <div class="row">





        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="cards">
              <div class="card-name"><%= link_to tour.title, tour_path(tour) %></div>
              <h5><%= tour.location %></h5>
              <!-- <p><%= tour.description %> | <%= tour.price %></p> -->
              <!-- <p><%= tour.user_id %> | <%= tour.user %></p> -->
            </div>
          </div>
        </div>
        <% end %>
      </div>
      </div>
